services:
  apec-global-internal:
    container_name: apec-global-internal
    image: apec-global-internal

    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_URL: "https://api.apecglobal.net/"
        NEXT_PUBLIC_APP_URL: "https://api.apecglobal.net/"
        NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME: "dbt97thds"

    environment:
      DATABASE_URL: "postgresql://neondb_owner:npg_j3mTncOHAh5Z@ep-wispy-pine-a1vklngi-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"
      POSTGRES_URL: "postgresql://neondb_owner:npg_j3mTncOHAh5Z@ep-wispy-pine-a1vklngi-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"
      CLOUDINARY_CLOUD_NAME: "dbt97thds"
      CLOUDINARY_API_KEY: "757163726792791"
      CLOUDINARY_API_SECRET: "LvvaT7kBCpLQRT87NAceVITXWbI"

    ports:
      - "127.0.0.1:3000:3000"

    restart: unless-stopped
